@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#menu {
    -fx-background-image: url("../assets/textures/Start/startBg.png");
    -fx-background-size: cover;
}
<<<<<<< HEAD

#start {
<<<<<<< HEAD
    -fx-background-image: url("../resources/assets/textures/Start/startBtn.png");
=======
    -fx-background-image: url("../assets/textures/Start/startBtn.png");
>>>>>>> origin
    -fx-background-size: cover;
}
=======
>>>>>>> 361084d1906552a061f7c5dfcb948707136138da
