#menu{
<<<<<<< HEAD
<<<<<<< HEAD
    -fx-background-image: url("./Start/startBg.png");
=======
    -fx-background-image: url("./startBg.png");
>>>>>>> origin
=======
    -fx-background-image: url("./startBg.png");
=======
    -fx-background-image: url("./Start/startBg.png");
>>>>>>> main
>>>>>>> 361084d1906552a061f7c5dfcb948707136138da
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}